.formCreateAccount {
  width: 90%;
  margin: 10px auto;
  padding: 10% 2% 15% 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  @include mobileHorizontalAndTabletVertical {
    padding: 20% 5% 20% 5%;
  }
  @include tabletHorixzontalAndDesk {
    padding: 10% 2% 5% 2%;
  }
  p {
    font-size: $titlePagesFontSize;
    color: $principalFontColor;
    padding: 4px 4px 10px 4px;
  }
  label {
    color: $principalFontColor;
    width: 80%;
    padding: 25px 6px 6px 6px;
    font-size: 1.2rem;
    @include tabletHorixzontalAndDesk {
      width: 35%;
    }
    .inputsText {
      width: 100%;
      color: $principalFontColor;
      font-size: $secondaryFontSize - 0.3;
      border: 0;
      outline: none;
      padding: 4px;
      background-color: $principalColor;
      border-radius: 5px;
      border-bottom: 1px solid rgb(0, 0, 0);
    }
    .inputCalendar[type="date"] {
      font-size: 1.22rem;
      border: 0;
      margin: 25px 1px 10px 1px;
      margin-left: 29%;
      appearance: none;
      width: 80%;
      border-radius: 3px;
      color: $detailsColor;
      background-color: $principalColor;
      display: inline-block;
      visibility: visible;
    }
    .inputCalendar[type="date"]:focus {
      background-color: $principalColor;
      border-color: rgb(255, 6, 6);
      outline: 0;
    }
    .inputCalendar[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
  .buttonForms {
    width: 50%;
    margin: 19px;
    padding: 0.4rem;
    border-radius: 15px;
    border: 0;
    color: $detailsColor;
    background-color: $principalColor;
    font-size: $secondaryFontSize;
  }
  #indicateSecurePassword {
    width: 12px;
    height: 12px;
    border-radius: 7px;
    margin: 20px 15px 1px 15px;
    background-color: rgb(27, 26, 26);
    position: relative;
    right: -85%;
    top: -42px;
  }
  #indicateSecurePasswordOn {
    @extend #indicateSecurePassword;
    background-color: rgb(23, 192, 23);
  }
  .messageInputsToUser {
    font-size: 95%;
  }
}
//Form new Motorcycle
.buttonInputsAvailableOrNot {
  border: 0;
  outline: none;
  background-color: $principalColor;
  color: $detailsColor;
  font-size: $secondaryFontSize - 0.3;
  margin: 27px 1px 17px 1px;
  width: 100%;
}
