.containerImagesMain {
  padding: 10px 0px 10px 0px;

  img {
    box-shadow: 0px 5px 25px 1px rgb(112, 112, 111);
    margin-top: 10px;
    filter: opacity(0.99);
    width: 100%;
    object-fit: cover;
    object-position: center;
    @include mobileHorizontalAndTabletVertical {
      height: 230px;
      object-fit: inherit;
    }
    @include tabletHorixzontalAndDesk {
      object-fit: inherit;
      height: 250px;
    }
    @media (min-width: 1225px) {
      margin-top: 7px;
      height: 235px;
    }
  }

  @include mobileHorizontalAndTabletVertical {
  }
  @include tabletHorixzontalAndDesk {
  }
}
