.containerImagesMain {
  background-color: $secondaryColor;
  @include mobileHorizontalAndTabletVertical {
  }
  .hondaCbr {
    width: 80%;
    @include mobileHorizontalAndTabletVertical {
      width: 50%;
    }
  }
}
