/* colores */
$principalColor: rgb(195, 193, 193);
$secondaryColor: rgba(168, 161, 161, 0.442);
$tertiarycolor: red;
$principalColorNigthMod: black;
$secondaryColorNigthMode: rgba(168, 161, 161, 0.442);

/* Fonmts */
$generalFont: Verdana, Geneva, Tahoma, sans-serif;
