/* colores */
$principalColor: rgb(240, 17, 17);
$secondaryColor: rgba(168, 161, 161, 0.442);
$tertiarycolor: red;
$detailsColor: rgb(255, 255, 255);
$principalColorNigthMod: rgb(0, 0, 0);
$secondaryColorNigthMode: rgba(168, 161, 161, 0.442);
$tertiarycolorNigthMode: red;
$detailsColorNigthMode: rgb(12, 245, 55);
/*font  color */
$principalFontColor: rgb(202, 200, 200);
$secondaryFontColor: rgb(202, 200, 200);

/* Fonmts */
$generalFont: Verdana, Geneva, Tahoma, sans-serif;
