/* colores */
$principalColor: rgb(255, 254, 254);
$secondaryColor: rgba(255, 0, 0, 0.902);
$tertiarycolor: rgba(196, 196, 196, 0.712);
$detailsColor: rgb(247, 11, 11);
$principalColorNigthMod: rgb(0, 0, 0);
$secondaryColorNigthMode: rgba(168, 161, 161, 0.442);
$tertiarycolorNigthMode: red;
$detailsColorNigthMode: rgb(12, 245, 55);
/*font  color */
$principalFontColor: rgb(10, 10, 10);
$secondaryFontColor: rgb(19, 18, 18);
$principalFontColorNigth: rgb(202, 200, 200);
$secondaryFontColorNigth: rgb(202, 200, 200);

/* Fonts Sizes*/
$principalFontSize: 2.2rem;
$secondaryFontSize: 1.5rem;
$titlePagesFontSize: 2.1rem;
/* Fonts */
$generalFont: Verdana, Geneva, Tahoma, sans-serif;
